<div class="bar">
    <div class="line"></div>
    <div class="underbar">
        <div class="numbers">
            <p>00</p>
            <p>/05</p>
        </div>
        <div class="dot"></div>
    </div>
</div>

<section class="travelling-partners">
    <h2>PARTNERS</h2>
    <div class="slider-container">
        <div class="cursor-primary-clr" >
            <p>DRAG</p>
        </div>
        <div class="slider">
            <div class="slider-card">
                <div class="card-img">
                    <img src="assets/img/partner-logos/marriot-logo.png">
                </div>
                <p class="brand-name">MARRIOT</p>
                <p class="brand-summary">
                    One of the largest hotel companies in the world,
                    with a portfolio of over 30 hotel brands including Marriott, Sheraton, Ritz-Carlton, and more.
                </p>
            </div>
            <div class="slider-card">
                <div class="card-img">
                    <img src="assets/img/partner-logos/hilton-logo.png" alt="" loading="lazy">
                </div>
                <p class="brand-name">HILTON</p>
                <p class="brand-summary">
                    Another major hotel company with a portfolio of over 18 hotel brands including Hilton, Waldorf Astoria, Conrad, and more.
                </p>
            </div>
            <div class="slider-card">
                <div class="card-img">
                    <img src="assets/img/partner-logos/lufthansa-logo.png" alt="" loading="lazy">
                </div>
                <p class="brand-name">LUFTHANSA</p>
                <p class="brand-summary">
                    A German airline that operates flights to over 220 destinations around the world.
                </p>
            </div>
            <div class="slider-card">
                <div class="card-img">
                    <img class="at-img"src="assets/img/partner-logos/withlocals-logo.png" alt="" loading="lazy">
                </div>
                <p class="brand-name">WITHLOCALS</p>
                <p class="brand-summary">
                    An online platform that offers personalized tours and experiences with local hosts in destinations around the world.
                </p>
            </div>
            <div class="slider-card">
                <div class="card-img">
                    <img src="assets/img/partner-logos/hertz-logo.png" alt="" loading="lazy">
                </div>
                <p class="brand-name">HERTZ</p>
                <p class="brand-summary">
                    One of the largest car rental companies in the world, with a global presence and a wide selection of rental cars. 
                </p>
            </div>
        </div>
        <div class="slider-controller-outside">
            <div class="slider-controller-inside"></div>
        </div>
    </div>

</section>