.projects {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--clr-neutral-900);
    color: var(--clr-primary);
    padding: 5rem 8rem;
    line-height: 1;
    z-index: 1000;
    animation: appear 350ms ease-in;

    .top-side {
        display: flex;
        gap: 4.5rem;
        font-size: 1.4rem;
        font-weight: 600;
        align-items: start;

        .dot {
            width: 1rem;
            height: 1rem;
            background-color: var(--clr-primary);
            border-radius: 50%;
        }
    
        
        .cross-btn {
            border: 1px solid var(--clr-neutral-100);
            background: transparent;
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            margin-left: auto;
            cursor: pointer;
            display: grid;
            place-content: center;
            transform: translateY(-10%);

            .cross {
                height: 4rem;
                width: 4rem;
                fill: var(--clr-neutral-100)
            }
            
        }
    }

    .slider-container  {
        position: relative;
        cursor: none;
        user-select: none;
    }

    .project-list {
        margin-top: 4rem;
        display: flex;

        .project {
            position: relative;    
            padding: 0 1rem;
            border-inline: 1px solid var(--clr-primary);

            .index {
                position: absolute;
                top: 105%;
                left: 0%;
                font-size: 1.2rem;
                z-index: 10;
            }

            .img {
                width: 32.5rem;
                height: 20rem;
                overflow: hidden;

                img {
                    transform: scale(1.1);
                    transition: transform 250ms ease-in;
                }
            }

            .text {
                padding: 2rem 1.5rem;
                background: var(--clr-neutral-900);
                height: 100%;
                transition: transform 250ms ease-in;

                .header {
                    display: flex;
                    justify-content: space-between;

                    .name,
                    .year {
                        font-size: 22px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }

                .catchprase {
                    text-transform: uppercase;
                    margin-top: 1rem;
                    font-size: 1.2rem;
                }

                .summary {
                    margin-top: 4rem;
                    opacity: 0;
                    transition: opacity 250ms ease-in;
                }
            }

            &:hover {
                .img img {
                    transform: scale(1);
                }

                .text{
                    transform: translateY(-14rem);
    
                    .summary {
                        opacity: 1;
                    }
                }
            }

            // & + * {
            //     border-right: 3px solid rosybrown;
            // }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}