<section id="about-component">
    <div class="bg"></div>

    <section class="about-us">
        <div class="value">
            <h2 class="secondary-heading">
                <div class="line-container">
                    <span class="line">WE LOVE</span>
                </div>
                <div class="line-container">
                </div>
                <div class="line-container">
                    <span class="line">CULTURAL </span>
                </div>
                <div class="line-container">
                    <span class="line">VALUE </span>
                </div>
            </h2>
        </div>
        <div class="together">
            <h2 class="secondary-heading">● TOGETHER WITH YOU</h2>
            <p>BASIC/TRVL is a global agency that thrives at bringing experiences and people together. You will make your dreams come true — across the world </p>
        </div>
    </section>
    
    <section class="images">
        <div *ngFor="let image of images" class="image-container">
            <img [src]=image.src class="place-img">
            <p class="image-idx">{{ image.idx }}</p>
        </div>
    </section>
</section>