.about {
    padding: 8rem 8rem;

    .cta {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 9rem;
        
        .about-agency {
            max-width: 50%;

            p {
                font-size: 3.8rem;
                line-height: 1;
            }           
        }

        .company-logo {
            font-size: 20rem;
            font-weight: 800;
            line-height: .75;
        }
    }

    .summary {
        display: flex;
        gap: 3rem;

        .summary-card {
            width: 33%;
            overflow: hidden;
            cursor: pointer;
        
            .card-img {
                overflow: hidden;
                max-height: 45rem;

                img {
                    transform: scale(1.2);
                    transition: transform 200ms ease-in;
                }
            }

            .text {

                .city-name {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-top: 1rem;
                    margin-bottom: .25rem;
                }

                .city-summary {
                    font-size: 1.4rem;
                    max-width: 17rem;
                    line-height: 1.2;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

            &:hover .text .brand-name {
                text-decoration: underline;
            }

            &:hover .card-img img {
                transform: scale(1.14);
            }
        }
    }
}