<nav class="nav-menu" 
    #navMenuDesktop
    data-transparent="true"
    *ngIf="!isMobile; else mobile">
    <div class="bg" #navMenuBg></div>

    <a [routerLink]="['']" class="nav-menu-logo">BASIC/TRVL<span>®</span></a>
    <ul class="nav-menu-list">
        <li><a [routerLink]="['/about']">ABOUT</a></li>
        <li><a [routerLink]="['/news']">NEWS</a></li>
        <li><a [routerLink]="['/ideas']">IDEAS</a></li>
        <li><a [routerLink]="['/contact']">CONTACT</a></li>
    </ul>
    <div class="nav-menu-icon" (click)="toggleTravelsList()">
        <div class="nav-menu-icon-dot"></div>
        <div class="nav-menu-icon-dot"></div>
        <div class="nav-menu-icon-dot"></div>
    </div>
</nav>
<div *ngIf="seeTravels" class="travels">
    <app-travels-menu (closeTravelsList)="toggleTravelsList($event)"></app-travels-menu>
</div>

<ng-template #mobile>
    <nav class="nav-menu-mobile" 
     #navMenuMobile
     data-transparent="true">
        <div class="bg-container">
            <div class="bg" #navMenuBg></div>
        </div>

        <a [routerLink]="['']" class="nav-menu-logo">BASIC/TRVL<span>®</span></a>
        <p class="nav-menu-mobile-btn" (click)="toggleLinkList()">MENU</p>

        <div class="nav-menu-mobile-list" #menuMobileLinkList>
            <header>
                <p class="nav-menu-mobile-logo">BASIC/TRVL<span>®</span></p>
                <div class="cross-btn">
                    <svg class="cross" (click)="toggleLinkList()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
                </div>   
            </header>
           

            <ul class="nav-menu-mobile-links">
                <li><a [routerLink]="['/about']" (click)="toggleLinkList()">ABOUT</a></li>
                <li><a [routerLink]="['/news']" (click)="toggleLinkList()">NEWS</a></li>
                <li><a [routerLink]="['/ideas']" (click)="toggleLinkList()">IDEAS</a></li>
                <li><a [routerLink]="['/contact']" (click)="toggleLinkList()">CONTACT</a></li>
            </ul>
        </div>

       
    </nav>
</ng-template>