.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem 8rem;
    color: var(--clr-neutral-900);
    z-index: 999;
    background: var(--clr-neutral-100);
    overflow: hidden;
    
    .nav-menu-logo {
        font-weight: 900;
        font-size: 2.5rem;

        span {
            font-size: 1rem;
            font-weight: 300;
        }
    }

    .nav-menu-list {
        display: flex;
        gap: 6rem;
        font-size: 1.4rem;

        li {
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                left: 0%;
                bottom: 0;
                background-color: var(--clr-neutral-900);
                height: 1px;
                width: 100%;
                transform: translateX(200%);

                transition: transform 500ms ease-out;
                
            }

            &:hover::before {
                transform: translateX(0);
                animation: goIn 100ms linear;
                transition: none;
            }

            @keyframes goIn {
                0% {
                    transform: translateX(-100%);
                }

                100% {
                    transform: translateX(0);
                }

            }
        }
    }

    .nav-menu-icon {
        display: flex;
        gap: .5rem;

        .nav-menu-icon-dot {
            height: .65rem;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background-color: var(--clr-neutral-900);
            transition: transform 150ms ease-in;
        }

        &:hover {
           .nav-menu-icon-dot:first-of-type {
                transform: translateX(-50%);
           }

           .nav-menu-icon-dot:last-of-type {
                transform: translateX(50%);
            }
        }
    }

    .nav-menu-logo,
    .nav-menu-list li,
    .nav-menu-icon {
        cursor: pointer;
    }

    .bg {
        height: 200%;

        &.safari_only {
            -webkit-animation: none;
        }
    }

    &[data-transparent="true"] {
        color: var(--clr-neutral-100);
        background: transparent;

        .nav-menu-icon .nav-menu-icon-dot, .nav-menu-list li::before {
            background-color: var(--clr-neutral-100);
        }

        .bg {
            display: none;
        }
    }
}


.nav-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem 8rem;
    color: var(--clr-neutral-900);
    z-index: 999;
    background: var(--clr-neutral-100);

    p {
        font-weight: 600;
    }

    .nav-menu-mobile-list {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        color: var(--clr-primary);
        background: var(--clr-neutral-900);
        padding: 4rem 6rem;
        font-size: 3rem;
        font-weight: 600;
        transition: opacity 250ms ease-in;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10rem;
            
            .cross-btn {
                border: 1px solid var(--clr-neutral-100);
                background: transparent;
                border-radius: 50%;
                height: 4rem;
                width: 4rem;
                margin-left: auto;
                cursor: pointer;
                display: grid;
                place-content: center;
                transform: translateY(-10%);
    
                .cross {
                    height: 4rem;
                    width: 4rem;
                    fill: var(--clr-neutral-100)
                }
                
            }
        }

        .nav-menu-mobile-links * + * {
            margin-top: 4rem;
        }

        &.active {
            opacity: 1;
            z-index: 1000;  
        }
    }

    .nav-menu-mobile-btn {
        z-index: 900;
        cursor: pointer;
    }

    .bg-container {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        overflow: hidden;

        .bg {
            position: absolute;
            height: 300%;
        }
    }

    &[data-transparent="true"] {
        color: var(--clr-neutral-100);
        background: transparent;

        .nav-menu-icon .nav-menu-icon-dot, .nav-menu-list li::before {
            background-color: var(--clr-neutral-100);
        }

        .bg {
            display: none;
        }
    }
}