<nav class="nav-menu" data-transparent="true">
    <div class="bg"></div>

    <p class="nav-menu-logo">BASIC/TRVL<span>®</span></p>
    <ul class="nav-menu-list">
        <li>ABOUT</li>
        <li>NEWS</li>
        <li>IDEAS</li>
        <li>CONTACT</li>
    </ul>
    <div class="nav-menu-icon" (click)="toggleProjectsList()">
        <div class="nav-menu-icon-dot"></div>
        <div class="nav-menu-icon-dot"></div>
        <div class="nav-menu-icon-dot"></div>
    </div>
</nav>
<div *ngIf="seeProjects" class="projects">
    <app-projects-menu (closeProjectsList)="toggleProjectsList($event)"></app-projects-menu>
</div>
