<nav class="nav-menu" data-transparent="true">
    <div class="bg"></div>

    <p class="nav-menu-logo">BASIC/DEPT<span>®</span></p>
    <ul class="nav-menu-list">
        <li>WORK</li>
        <li>ABOUT</li>
        <li>NEWS</li>
        <li>THINKING</li>
        <li>PLEDGE</li>
        <li>CAREERS</li>
        <li>CONTACT</li>
    </ul>
    <div class="nav-menu-icon">
        <div class="nav-menu-icon-dot"></div>
        <div class="nav-menu-icon-dot"></div>
        <div class="nav-menu-icon-dot"></div>
    </div>
</nav>