<section class="contact">
    <div class="image-container">
        <img src="https://cdn.sanity.io/images/8nn8fua5/production/cb0aa290219a3dc370e4b6a6c4f4b3effee44767-1736x2430.jpg?w=1280&fm=webp&q=65" class="img">
    </div>

    <div class="text">
        <h2>
            B/T <br/>
            CONTACT
        </h2>
        <p class="subtitle">
            <span>
                EASY TO UNDERSTAND.
            </span>
            <span>
                IMPOSSIBLE TO IGNORE.™
            </span>
            <span>
                BASIC/DEPT®, INC 10 - 23©
            </span>
        </p>
        <section class="links-section">
            <div class="dot"></div>
            <div class="links">
                <div class="link">
                    <h3 class="label">NEW BUSINESS</h3>
                    <p>biz@basicagency.com</p>
                </div>
                <div class="link">
                    <h3 class="label">NEW BUSINESS</h3>
                    <p>biz@basicagency.com</p>
                </div>
                <div class="link">
                    <h3 class="label">NEW BUSINESS</h3>
                    <p>biz@basicagency.com</p>
                </div>
                <div class="link">
                    <h3 class="label">NEW BUSINESS</h3>
                    <p>biz@basicagency.com</p>
                </div>
                <button class="primary-btn">APPLY NOW</button>
            </div>
        </section>
    </div>
</section>