<section id="contact-component">
    <div class="bg"></div>

    <div class="image-container">
        <div id="image-overlay">
            <div class="bg"></div>
        </div>
        <img src="https://cdn.sanity.io/images/8nn8fua5/production/cb0aa290219a3dc370e4b6a6c4f4b3effee44767-1736x2430.jpg?w=1280&fm=webp&q=65" class="img">
    </div>

    <div class="text">
        <div class="heading-container">
            <h2>
                <span>B/ T </span><span> CONTACT</span>
            </h2>
        </div>
        <p class="subtitle">
            <span>
                EASY TO UNDERSTAND.
            </span>
            <span>
                IMPOSSIBLE TO IGNORE.™
            </span>
            <span>
                BASIC/DEPT®, INC 10 - 23©
            </span>
        </p>
        <section class="links-section">
            <div class="dot"></div>
            <div class="links">
                <div class="link">
                    <h3 class="label">SUPPORT</h3>
                    <p>support@basictravelling.com</p>
                </div>
                <div class="link">
                    <h3 class="label">GENERAL</h3>
                    <p>hello@basictravelling.com</p>
                </div>
                <div class="link">
                    <h3 class="label">ADVICE</h3>
                    <p>advice@basictravelling.com</p>
                </div>
                <div class="link job">
                    <h3 class="label">JOIN US</h3>
                    <p>recruitment@basictravelling.com</p>
                    <button class="primary-btn">APPLY NOW</button>
                </div>
            </div>
        </section>
    </div>
</section>