.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--clr-neutral-100);
    z-index: 1000;
    place-content: center;
    display: grid;
    cursor: none;


    .lines-container {
        overflow: hidden;
        position: relative;

        .line {
            font-size: 20rem;
            font-weight: 900;
            line-height: 1;
            position: relative;
    
            span {
                font-size: 5rem;
            }

            @media(max-width: 780px) {
                font-size: 15rem;
            }
            @media(max-width: 600px) {
                font-size: 10rem;
            }
            @media(max-width: 420px) {
                font-size: 7.5rem;
            }
        }

        .lines-overlay {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: var(--clr-neutral-100);
            overflow: hidden;
        }
    }
}