#news-component {
    padding: 20rem 10rem;
    
    header, .radio-list, .new {
        position: relative;
        z-index: 2;
    }

    .bg {
        z-index: 1;
    }

    header {

        font-size: 8.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dot {
            width: 5rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: var(--clr-neutral-900);
        }

        .h2-container {
            width: max-content;
            overflow: hidden;
           
            h2 {
                line-height: 1;
                animation: slide-text-up 750ms cubic-bezier(0.5,0,0,1) forwards;
    
                @keyframes slide-text-up {
                    0% {
                        transform: translateY(103%)
                    }
        
                    to {
                        transform: translateY(0)
                    }
                }
            }
        }       
    }

    .radio-list {
        display: flex;
        justify-content: flex-end;
        margin-top: 20rem;
        margin-bottom: 5rem;
        gap: 6rem;
        font-size: 1.4rem;
        font-weight: 700;

        li {
            display: flex;
            align-items: center;
            gap: 1rem;

            .radio-btn {
                // reset base styles
                appearance: none;
                margin: 0;

                // applied styles
                position: relative;
                width: 2rem;
                aspect-ratio: 1;
                background: transparent;
                border: 1px solid var(--clr-neutral-900);
                border-radius: 50%;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background-color: var(--clr-neutral-900);
                    aspect-ratio: 1;
                    width: 0rem;
                    opacity: 0;
                    transition:
                        width 250ms ease-out,
                        opacity 250ms ease-out;
                }
            }
        }

        li, li * {
            cursor: pointer;
        }
        
        li:hover .radio-btn::before,
        li:focus .radio-btn::before {
            width: 1rem;
            opacity: 1;
        }

        li.active .radio-btn::before {
            width: 2rem;
            opacity: 1;
        }

        @media(max-width: 900px) {
            font-size: 1.2rem;
            gap: 1rem;
        }

        @media(max-width: 650px) {
            display: none;
        }
    }

    .news {

        .new {
            padding-top: 2rem;
            border-top: 1px solid var(--clr-neutral-900);
            display: flex;
            gap: 2rem;
            margin-bottom: 5rem;

            .new-image {
                max-width: 35rem;
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                * {
                    line-height: 1;
                }

                .new-title {
                    font-size: 4.2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin: 0;
                    
                    max-width: 25ch;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .info {
                    font-size: 1.4rem;

                    .type {
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-right: 1rem;
                    }
                }
            }
        }

        @media(max-width: 840px) {
            .new {
                flex-direction: column;
            }
        }

        @media(max-width: 640px) {
            .new .text .new-title {
                font-size: 3.2rem;
            }
        }

        @media(max-width: 560px) {
            .new .text .new-title {
                font-size: 2.5rem;
            }
        }

        @media(max-width: 450px) {
            .new .text .new-title {
                font-size: 2rem;
            }
        }
    }



    @media(max-width: 768px) {
        header {
            font-size: 6rem;

            .dot {
                width: 3rem;
            }
        }
    }

    @media(max-width: 500px) {
        header {
            font-size: 4rem;

            .dot {
                width: 2rem;
            }
        }
    }

    @media(max-width: 420px) {
        header {
            font-size: 3rem;

            .dot {
                width: 1.5rem;
            }
        }
    }
}