/* START CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* END CSS RESET */

:root {
    --clr-primary: #f9cdcd;

    --clr-neutral-900: #252422;
    --clr-neutral-100: #f4f4f4;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
	background-color: var(--clr-neutral-100);
}


.bg {
	position: fixed;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	width: 200%;
	height: 200vh;
	background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
	background-repeat: repeat;
	animation: bg-animation .2s infinite;
	opacity: .9;
	visibility: visible;
	z-index: -1;
  }
  
  @keyframes bg-animation {
	  0% { transform: translate(0,0) }
	  10% { transform: translate(-5%,-5%) }
	  20% { transform: translate(-10%,5%) }
	  30% { transform: translate(5%,-10%) }
	  40% { transform: translate(-5%,15%) }
	  50% { transform: translate(-10%,5%) }
	  60% { transform: translate(15%,0) }
	  70% { transform: translate(0,10%) }
	  80% { transform: translate(-15%,0) }
	  90% { transform: translate(10%,5%) }
	  100% { transform: translate(5%,0) }
  }